* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

.wrapper {
    min-height: 100%;
    background-color: #1c1c1c;
}

ul {
    margin: 0;
    padding: 0;
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
    display: block;
}

h1,
h1,
h3,
h4,
h5 {
    margin: 0;
}

img {
    max-width: 100%;
}

.hero {
    background-image: url(/img/content/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;

}

.logo {
    width: 53px;
    height: 42px;
}

.logo__img {
    width: 100%;
    object-fit: contain;
}

.nav__list {
    display: flex;
}

.nav__item {
    margin-right: 28px;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__link {
    font-size: 14px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.7);
    font-style: normal;
    font-weight: 400;
}

.btn {
    color: #FFFFFF;
    background: #f6762c;
    border: none;
    border-radius: 5px;
    padding: 15px 36px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.content {
    max-width: 49%;
    padding-top: 186px;
}

.content__headline {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.1em;
    margin-bottom: 15px;
}

.title {
    font-weight: 500;
    font-size: 57px;
    line-height: 1.17;
    margin-bottom: 37px;
}

.content__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 42px;
}

.food {
    padding: 115px 0 102px;
}

.food__list {
    display: flex;
    justify-content: space-between;
}

.food__item {
    width: calc(25% - 30px);
}

.product-card {
    border-radius: 10px;
    background: #312F30;
    overflow: hidden;
    text-align: center;
    padding-bottom: 30px;
}

.product-card__img-wrap {
    width: 100%;
    height: 175px;
    overflow: hidden;
    margin-bottom: 18px;
}

.product-card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-card__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 13px;
}

.paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    color: rgba(255, 255, 255, 0.7);
}

.product-card__desc {
    text-align: center;
}

.order {
    padding: 73px 0px;
    background: #312f30
}

.order__container {
    display: flex;
    align-items: center;
}

.order__img-wrap {
    width: 50%;
    text-align: center;
}

.order__desc {
    width: 50%;
    padding-left: 109px;
}

.order__action {
    max-width: 368px;
}

.order__title {
    margin-bottom: 24px;
}

.action__title {
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
}

.order__paragraph {
    margin-bottom: 13px;
}

.price {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
}

.order__price {
    margin-bottom: 11px;

}

.price__new {
    color: #f6762c;
}

.price__new_size_big {
    font-size: 20px;
}

.price__old {
    text-decoration-line: line-through;
    color: rgba(246, 118, 44, 0.5);
}

.offers {
    padding: 150px 0px 146px;
}

.offers__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
}

.offers__item {
    width: 48.7%;
    height: 300px;
}

.offers__item:nth-child(even) .offer__action {
    left: 9%;
}

.offer {
    position: relative;
}

.offers__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.offer__action {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    width: 44%;
}

.offer .action__title {
    font-size: 30px;
    margin-bottom: 20px;
    line-height: 35px;
}

.offer__paragraph {
    margin-bottom: 11px;
}

.offer__price {
    margin-bottom: 11px;
}

.offer__btn {
    padding: 13px 36px;
    font-size: 12px;
}