* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    min-height: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h1,
h3,
h4,
h5 {
    margin: 0;
}

img {
    max-width: 100%;
}

.hero {
    background-image: url(/img/content/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;

}

.logo {
    width: 53px;
    height: 42px;
}

.logo__img {
    width: 100%;
    object-fit: contain;
}

.nav {}

.nav__list {
    display: flex;
}

.nav__item {
    margin-right: 28px;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__link {
    font-size: 14px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.7);
    font-style: normal;
    font-weight: 400;
}

.btn {
    background: #f6762c;
    border-radius: 5px;
    padding: 15px 36px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.content {}

.content__desc {}

.content__headline {}

.title {}

.content__text {}